.article {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 25px;
  padding-bottom: 3em;

  &__item {
    align-items: flex-start;
  }

  &__text {
    h2:hover {
      color: $Lime-Green;
      cursor: pointer;
      transition: all 0.2s;
    }
    padding: 1.5em 1.5em 0.5em 1.5em;
  }
  img {
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 250px;
  }
  h2 {
    color: $Dark-Blue;
    font-weight: 400;
  }

  p {
    color: $Grayish-Blue;
    line-height: 1.6;
  }
  span {
    display: inline-block;
    color: $Grayish-Blue;
    font-size: 0.9rem;
    margin-top: 1em;
  }
}
.article__item {
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);

  margin: 1em 0;
}
.article__head {
  text-align: center;
  margin: 1em 0;
  font-weight: 400;
  color: $Dark-Blue;
  font-size: 2.7rem;
  @media (min-width: 700px) {
    text-align: left;
  }
}
